@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  /* Primary */
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --almost-black: hsl(234, 17%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  flex-direction: column;
  font-family: "Red Hat Text", sans-serif;
  background: linear-gradient(to bottom, var(--almost-black), var(--very-dark-blue));
  letter-spacing: 5px;
}

.Container {
background: url(./assets/bg-stars.svg) no-repeat;
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

}

